html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
}
header{
    background-color: #0A22F4;
    height: 388px;
    width: 100%;
}

#nav-bar{
    float: right;
    margin-top: 60px;
}

li{
    display: inline;
    margin-right: 40px;
}

a{
    text-decoration: none;
    color: white;
}

#contact{
    background-color: white;
    color: black;
    border-radius: 28px;
    height: 55px;
    width: 100px;
    padding: 18px 35px 18px 35px;
}

#content{
    margin:-108px auto;
    display: block;
    text-align: center;
}

#main_image{
    width: 1195px;
    height: 600px;
}

h1{
    height: 33px;
    position: relative;
    left: -310px;
    margin-top: 30px;
    flex: 0 0 auto;
}
#image_container{
    margin-top: 13px;
    right: 100;
    padding: 0;
    display: inline-table;
    margin-bottom: 60px;
}

#image_container li{
    margin-right: 25px;
    display: inline;
    position: relative;
    left: 15px;
}

img{
    height: 219px;
    width: 219px;
    border-radius: 15px;
}

#content p{
    font-size: 16px;
    width: 951px;
    line-height: 30px;
    height: fit-content;
    margin: 0 auto;
}
#content:last-of-type p{
    margin-bottom: 58px;
}

#more_info{
    width: 341px;
    height: 55px;
    background-color: #0A22F4;
    border-radius: 28px;
    margin: 0 auto;
    padding: 20px 70px 20px 70px;
}
footer{
    height: 1080px;
    background-color: #0A22F4;
    position: relative;
}

#contact_h{
    width: fit-content;
    left: 100px;
    margin-top: 180px;
    padding-top: 275px;
    color: white;
}


#lorem-contact{
    width: 464px;
    height: 99px;
    color: white;
    margin-top: 30px;
    position: relative;
    left: 100px;
}

#footer-list{
    text-align: right;
    color: white;
}

.line{
    width: 587px;
    height: 41px;
    border-bottom: 1px solid white;
    position: relative;
    opacity: 0.1;
}

#footer-list p{
    margin-bottom: 0px;
    margin-top: 40px;
    width: max-content;
}

div:last-of-type{
    margin-bottom: 58px
}

#send{
    background-color: white;
    color: black;
    border-radius: 28px;
    width: 151px;
    height: 55px;
}